<footer class="footer pb-3">
    <div class="container">
        <div class="row justify-content-center subscribe mb-3">
            <div class="col-md-6 col-lg-4">
                <div class="form-group">
                    <div class="input-group input-group-alternative">
                        <input class="form-control" placeholder="Enter your Email" type="text">
                        <div class="input-group-append">
                            <span class="input-group-text p-0">
                                <button class="btn btn-1 btn-warning h-100 text-capitalize font-weight-light"
                                    type="button">Subscribe</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center text-center text-white">
            <div class="col-md-4">
                <div class="icon icon-md icon-shape mb-2">
                    <i class="fas fa-clock"></i>
                </div>
                <p class="small">
                    MONDAY - FRIDAY: 07:00 - 19:00
                    <br>
                    SATURDAY - SUNDAY: 07:00 - 21:00
                </p>
            </div>
            <div class="col-md-4">
                <div class="icon icon-md icon-shape mb-2">
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                <p class="small">
                </p>
            </div>
            <div class="col-md-4">
                <div class="icon icon-md icon-shape mb-2">
                    <i class="fas fa-phone-alt"></i>
                </div>
                <p class="small">
                    <a href="tel:#" class="text-white" placement="top" ngbTooltip="Call +27 (12) 345 6789!">+27 (12) 345
                        6789</a>
                </p>
            </div>
        </div>
        <div class="row justify-content-center text-center text-light">
            <div class="col-md-4">
                <small>
                    Operating Hours
                </small>
            </div>
            <div class="col-md-4">
                <small>
                    Visit us
                </small>
            </div>
            <div class="col-md-4">
                <small>
                    Book a Table
                </small>
            </div>
        </div>
    </div>
    <hr class="mb-3">
    <div class="container text-center text-light">
        <small class="text-warning">Terms & Privacy</small>
        <div>
            <a class="icon icon-sm icon-shape text-light" href="https://www.facebook.com/">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a class="icon icon-sm icon-shape text-light" href="https://twitter.com/">
                <i class="fab fa-twitter"></i>
            </a>
            <a class="icon icon-sm icon-shape text-light" href="https://www.instagram.com/">
                <i class="fab fa-instagram"></i>
            </a>
            <a class="icon icon-sm icon-shape text-light" href="https://www.youtube.com/">
                <i class="fab fa-youtube"></i>
            </a>
        </div>
        <div class="row justify-content-end">
            <div class="col-sm-6 text-sm-left">
                <small>
                    &copy;
                    <span class="text-warning font-italic" style="font-family: 'Ubuntu', sans-serif">
                        foodle
                    </span>
                    All Rights Reserved
                </small>
            </div>
            <div class="col-sm-6 text-sm-right">
                <small>
                    Photos provided by
                    <a href="https://www.pexels.com/" class="text-warning">Pexels</a>
                </small>
            </div>
        </div>
    </div>
</footer>